@font-face {
  font-family: "LXGWWenKaiScreenR";
  src: url("/fonts/lxgwwenkaiscreen.subset.v1.235.standard.woff2");
}

/* https://www.webfontfree.com/cn/download/SFProText-Regular */
@font-face {
  font-family: "SFProText-Regular";
  src: url("/fonts/SFProText-Regular.woff2");
}

body {
  font-family: "SFProText-Regular", "LXGWWenKaiScreenR";
  font-size: 16px;
  line-height: 1.6;
  word-break: break-word;
  background: var(--theme);
  font-display: swap;
}
